modules = ["python-3.11:v10-20231107-a9f4961"]

hidden = [".pythonlibs"]
run = "langchain serve"
onBoot = "pip install -U langchain-cli"
entrypoint = "main.py"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = "pip install -U langchain-cli && langchan serve"
deploymentTarget = "cloudrun"
