modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]
run = "langchain serve --host 0.0.0.0"
onBoot = "pip install -U langchain-cli && poetry install"
entrypoint = "main.py"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "langserve serve"]
deploymentTarget = "cloudrun"
